<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRM.Model.Properties.Settings.lf_crm_dbConnectionString"
            connectionString="Data Source=.\SQL2005;Initial Catalog=lf_crm_db;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CRM.Model.Properties.Settings.lf_crm_db2ConnectionString"
            connectionString="Data Source=.\SQL2005;Initial Catalog=lf_crm_db2;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>