div.sdmenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #fff;
	float: left;
	z-index: 100; 
	left: -3px; 
	width: 172px; 
	top: 16px;	
}
div.sdmenu div {
    background: url(../../Images/submenu/title.gif) repeat-x;
    overflow: hidden;
}
div.sdmenu div.collapsed {
    height: 25px;
}
div.sdmenu div span {
    display: block;
    padding: 5px 25px;
    font-weight: bold;
    color: white;
    background: url(../../Images/submenu/expanded.gif) no-repeat 10px center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
    background-image: url(../../Images/submenu/collapsed.gif);
}
div.sdmenu div a {
    padding: 5px 10px;
    background: #eee;
    display: block;
    border-bottom: 1px solid #ddd;
    color: #066;
    text-decoration: none;
}
div.sdmenu div a.current {
    background : #ccc;
}
div.sdmenu div a:hover {
    background : #066 url(../../Images/submenu/linkarrow.gif) no-repeat right center;
    color: #fff;
    text-decoration: none;
}
        